// 사용자 정의의 경우 이처럼 Typograpy라고 이름 지정
@layer Typography {
  :is(*, *::before, *::after) {
    content: "";
    font-family: "Pretendard Variable";
  }

  html {
    font-size: 62.5%;
  }

  body {
    font-size: 1rem;
    color: #222;
  }
}